API_key="Ln531fCdCEnEoX79dZp7yTWz67QkoujyDW1fhB51Dvi8snNDdpmyOW9AvgN3Tr2-"

LOGIN="drobiazkoz@yandex.ru"

PASSWORD="Qq2266553"

COMPANY_ID="f0fde861-acc8-479e-9a00-b0ddbc0a6502"

base_url = "https://ru.yougile.com/api-v2"