API_key="qecETUFXpnqxrY+1RVT5CthBx5IkNeWsPSu+W0NPgiFxRhw2RC89Tj9MBu45YCIh"

login="drobiazkoz@yandex.ru"

password="Qq-2266553"

company_id="f0fde861-acc8-479e-9a00-b0ddbc0a6502"

base_url="https://ru.yougile.com"

token="SAxeR+W3BkrLoNjuLgPSeW73lkEhgMpLmIujOIPcZGAX7KKM0djsb3LcPSnODy47"